<aside class="sidebar">
  <ul class="nav">
    <% site.data.navigation.forEach((section) => { %>
      <li class="nav-item">
        <span class="nav-heading"><%= section.title %></span>
        <ul class="nav">
          <% section.items.forEach((item) => { %>
            <li class="nav-item">
              <a class="<%- is_current(item.path) ? 'active' : '' %>" href="<%- url_for(item.path) %>"><%= item.title %></a>
              <% if (item.items) { %>
                <ul class="nav">
                  <% item.items.forEach((subitem) => { %>
                    <li class="nav-item">
                      <a class="<%- is_current(subitem.path) ? 'active' : '' %>" href="<%- url_for(subitem.path) %>"><%= subitem.title %></a>
                    </li>
                  <% }) %>
                </ul>
              <% } %>
            </li>
          <% }) %>
        </ul>
      </li>
    <% }) %>
  </ul>
</aside>
